/* :root {
    --accent-color: rgb(255, 124, 89);
    --primary-color: rgb(255, 255, 255);
    --black-background-color: rgb(0, 0, 0);
    --main-letter-spacing: 0.02em;

} */

/* html {
box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;  
} */

body {
    /* margin: 0; */
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--primary-color);
    letter-spacing: var(--main-letter-spacing);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* utils */
.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
} 

.padding {
    padding-top: 32px;
    padding-bottom: 32px;
}


/* header styles */

.header {
    border-bottom: 1px solid #ececec;
}


/* .header {
    border-bottom: 1px solid #ececec;
} */

.header-title-style {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: var(--black-background-color);
}

.store-style {
    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;
}

/* signin */

.signin-user {
display: flex;
flex-direction: column;
align-items: center;
}

.user-img {
    width: 160px;
}

.form-label {
    display: flex;
    flex-direction: column;

    margin-top: 25px;
}

.user-name {

    font-family: inherit;
    font-size: 20px;
    font-weight: 700;

    margin: 0 auto 5px;
}

.type-name {
    
    width: 200px;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 8px;
}

/* .type-name:hover,
.type-name:focus {
    border-color: var(--accent-color);
    border: 1px solid var(--accent-color);
} */

.type-name:focus-within {
    border-color: var(--accent-color);
    outline: none;
}


.button-modal {
    width: 200px;
    padding: 5px;
    color: var(--primary-color);
    background-color: var(--accent-color);
    border-radius: 8px;
    border-color: transparent;
}

/* .button-modal:hover,
.button-modal:focus {
    border-color: var(--accent-color);
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
   
} */

.button-modal:focus-within {
    border-color: var(--accent-color);
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    outline: none;
}