:root {
  --accent-color: rgb(255, 124, 89);
  --primary-color: rgb(255, 255, 255);
  --black-background-color: rgb(0, 0, 0);
  --main-letter-spacing: 0.02em;

}
/* 
*, ::before, ::after {
    box-sizing: border-box;
} */

body {
    
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--primary-color);
    letter-spacing: var(--main-letter-spacing);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
margin: 0;
}



/* header styles */

.header {
        border-bottom: 1px solid #ececec;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header-position {
    display: flex;
    align-items: center;


}

.store-style {
    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;
}

.user-auth-navigation {
    margin-left: auto;
    display: flex;
     /* outline: 1px solid tomato;  */

}

.main-user-navigation {
    display: flex;
    align-items: center;
}

.main-user-navigation .list-user-navigation +.list-user-navigation {

    margin-left: 20px;
}

.user-image {
    border-radius: 40;
} 

.header-title-style {
font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: var(--black-background-color);
   
}

.list-user-button {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 38px;
    border-radius: 8px;
    border: none;
    min-width: 150px;
    min-height: 40px;
    color: var(--primary-color);
    background-color: var(--accent-color);
}

.list-user-button:focus-within {
    border-color: var(--accent-color);
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    outline: none;
}



/* book cart */

 .card-one-book{
    display: flex;

}

.image-of-book {
    width: 396px;
}

.about-book {
    margin-left: 10px;
    padding: 10px;
     outline: 1px solid tomato; 
}

.main-container-book {
  
   padding-top: 55px;
   padding-bottom: 55px; 
}

 .container-prise-book {
    min-width: 290px;
   padding: 15px;
   margin-left: auto;
/* /* outline: 1px solid blueviolet;  */
    
}

.price-book {
    display: flex;
    flex-direction: column;
}

.container-quantity-book {
    display: inline-block;
    position: relative;
    
} 

 .quantity-book-style {
    margin-right: 10px;
}

.quantity-book {
    width: 35px;
    height: 20px;
    border: 1px solid var(--accent-color);
    
}

.button-box {
    display: flex;
    justify-content: center;
} 



