body {
    /* margin: 0; */
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--primary-color);
    letter-spacing: var(--main-letter-spacing);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.padding {
    padding-top: 32px;
    padding-bottom: 32px;
}